body{
 background-image: url(lines3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.triangle{
 font-size: 50px;
 float: left;
 margin-right: 400px;
 background-color: teal;
}
h4{
 color: white;
 font-size: 18px;
}
p{
 color: salmon;
}
