body{
 background-image: url(lines3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.triangle{
 font-size: 40px;
 float: left;
 margin-left: 100px;
 background-color: teal;
}
h4{
 color: white;
 font-size: 30px;
}
h3{
 color: yellowgreen;
}
p{
 color: white;
}
.explain{
 float: right;
 font-size: 25px;
}
footer{
 margin-bottom: 0px;
 padding-top: 500px;
}
.bottom{
  color: hotpink;
  background-color: black;
  font-size: 25px;
  margin-right: 1050px;
  padding-left: 27px;
  margin-top: 200px;
}
.pic2{
 margin-top: 30px;
}
