body{
 background-image: url(lines3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.triangle{
 font-size: 40px;
 float: left;
 margin-left: 100px;
 background-color: teal;
}
h4{
 color: white;
 font-size: 18px;
}
h3{
 color: yellowgreen;
}
p{
 color: white;
}
.explain{
 float: right;
 font-size: 25px;
}
footer{
 margin-bottom: 0px;
 padding-top: 500px;
}
.bottom{
  color: hotpink;
  border: 3px white;
}
